*{
    padding: 0;
    margin:  0;
}
body { 
    font-family: "roboto", sans-serif;
    display: block;
    width: 90em;
    height: 206.25em;
    position: relative;
    margin: 0 auto;
}
/*Top Line - Start */

.top-line {
    height: 4.5em;
    width: 90em;
    background-color: #fff;
    display: block;
    position: relative;
    overflow: hidden;
}
.logo {
    height: 4.5em;
    display: block;
    position: absolute; 
    top: 1.5em;
    left: 9.75em;
}
.web { 
    font-size: 1.125em;
    font-family: raleway;
    font-weight: bold;
    color: #4D5AE5;
    width: 2.75em;
    height:1.3125em ;
    text-transform:uppercase;   
}
.studio { 
    font-size: 1.125em;
    font-family: Raleway;
    font-weight: bold;
    color: #2E2F42;
    width: 4.4375em;
    height: 1.3125em;
    text-transform:uppercase ;
}
.menu-nav  {
    position: absolute;
    width: 18.75em;
    height:1.5em;
    margin-top: 1.5em;
    margin-left: 25em;   

}
.menu-nav ul li {
    display: inline-block;
    margin-right: 2.5em;    
}
.menu-nav ul li a {
    color: #2E2F42;
    font-style: medium;

}
.menu-nav ul li:hover{
    text-decoration:underline
}
.address p {
    display:inline-block ;
    float:right;
    margin-top: 1.5em;
    margin-right: 5em;
    font-size: 1em;
    font-style: normal;
}
/*Top Line - End */
/* Hero İmage - Start */
.hero-image {
    height: 37.5em;
    width: 90em;
    background-color: #2E2F42;
    display: block;
    position: relative;
    margin-top: 0.0625em;
}
.hero-image h1 {
    font-size: 3.5rem;
    color:#fff;
    display:block;
    width:31rem;
    height: 7.5rem;
    position: absolute;
    text-align: center;
    margin-top:10rem;
    margin-left: 31rem;
}

.button {
    display:inline-block;
    width: 10.5625rem;
    height: 3.5rem;
    background-color: #4D5AE5;
    position: absolute;
    margin-top: 26.75rem;
    margin-left: 39.75rem;
    cursor: pointer;
    border-radius:0.25rem ;
    box-shadow:0 0.25rem 0.25rem 0 #00000015 ;
    }
.button button:hover{
   color: #020202;
}

.button button  {
    color: #fff;
    font-size: 1rem;
    background-color: #4D5AE5;
    display:inline-block;
    width: 6.5625rem;
    height: 1.5rem;
    position: relative;
    margin-top: 1rem;
    margin-left: 2rem;
    border: none;
    cursor: pointer;
}

/* Hero İmage - End */

/* Section 1 - Start */
.section-1 {
    display:flex;
    order: 0.0625rem solid #000;
    position: relative;
    text-align: center;
    width: 70.5rem;
    height: 6.5rem;
    margin-top:7.5rem ;
    margin-left: 9.75rem;
}
.columns {
    display: flex; 
}

.column h3 {
    display: block;
    width: 16.5rem;
    height: 1.5rem;
    padding-right: 1.5rem;
    color:#2E2F42 ;
    font-size: 1.25rem;
    text-align: left;
}
.column p {
    font-size:1rem;
    color: #434455;
    display: block;
    width: 16.5rem;
    height: 4.5rem;
    margin-top:0.5rem;
    line-height:1.5rem;
    letter-spacing: 2%;
    text-align: left;
    
}
/* Section 1 - End */
/* Section 2 - Start */
.team-section{
    display:inline-block ;
    width:90rem ;
    height: 45.75rem;
    margin-top: 7.25rem;
    background-color: #F4F4FD;

}
.our-team {
    display: block;
    width: 10.125rem; 
    height: 2.5rem;
    margin-top:7.75rem ;
    margin-left: 39.9375rem;
}

.our-team h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 2%;
    color:#2E2F42

}
    
.team-card {
    display: inline-block;
    position:relative;
    width: 16.5rem;
    height: 23.75rem;
    margin-top:4.5rem;
    background-color: #fff;
    border-radius:1%;
    box-shadow: 0 0.0625rem  0rem 0 #2e2f4215
}

.team-cards ul{
    display: flex;
    margin-left: 9rem;
    margin-right: 9rem;

}
.team-section  .team-cards ul li{
 list-style-type:none;
 margin-left: 0.75rem;
 margin-right: 0.75rem;
 
}

.team-image img{
    width: 16.5rem;
    height: 16.25rem;
}

.team-card .team-detail {
    display: block;
    width: 14.5rem;
    height: 3.5rem;
    margin-top:2rem ;
    margin-left: 1rem;

}

.team-detail h3{
    font-size: 1.25rem;
    color: #2E2F42;
    text-align: center;
    font-weight: 1.5rem;
}
.team-detail p {
    color: #434455;
    font-size: 1rem;
    font-weight: 1.5rem;
    text-align: center;
}

/* Section 2 - End */
/* Section 3 - Start */
.our-portfolio  {
    
    text-align:center;
    display:block;
    width:13.625rem;
    height:2.5rem;
    margin-left:28.4375rem;

}
.our-portfolio h2{
    font-size:2.25rem;
    font-weight:2.5rem;
    color: #2E2F42;
    letter-spacing:2%;

}
.our-portfolio-section{    
    display:inline-block;
    width: 70.5rem;
    height: 62.5rem;
    margin-top: 7.75rem;
    position: relative;
    overflow: hidden;
    background-color:#ffffff;
    margin-left:9.75rem;
}
 .row1 ul   {
    width: 70.5rem;
    height:26.25rem;
    display:flex;
    list-style-type:none;
    margin-top: 4.5rem;

}
.row1 ul li {
    display: flex;
    display: inline-block;
    position:relative;
    width: 22.5rem;
    height:26.25rem;
    background-color: #fff;   
    margin-left:0.75rem;
}
.row2  ul {
    width: 70.5rem;
    height:26.25rem;
    display: flex;
    list-style-type:none;
    margin-top: 2.5rem; ;
   
}


.row2  ul li {
    display: flex;
    display: inline-block;
    position:relative;
    width: 22.5rem;
    height:26.25rem;
    background-color: #fff;
    margin-left:0.75rem;
    
    
}

 
 .pc-content1 {
    display: block;
    width: 22.5rem;
    height: 7.5rem;
    border:0.0313rem #e7e9fc;
    border-style: none solid solid solid;
    padding-top:0.0625rem ;


}
.pc-content2 {
    display: block;
    width: 22.5rem;
    height: 7.5rem;
    border:0.0313rem #e7e9fc;
    border-style: none solid solid solid;
    padding-top:0.0625rem ;
     

}

.pc-content1 h3{
    margin-left:1rem;
    margin-top:2rem;
    font-size: 1.25rem;
    color: #2E2F42;   
}
.pc-content2 h3{
    margin-left:1rem;
    margin-top:2rem;
    font-size: 1.25rem;
    color: #2E2F42;   
}
.pc-content1 p{
    margin-left:1rem;
    margin-top:0.5rem;
    font-size:1rem;
    color: #434455;
   
}
.pc-content2 p{
    margin-left:1rem;
    margin-top:0.5rem;
    font-size:1rem;
    color: #434455;
   
}
/* Section 3 - End */
/* Footer - Start */
 .footer-section {
    display: block;
    border: 0.0625rem solid #000;
    width: 90rem;
    height: 19.5rem;
    background-color: #2E2F42;
    position: relative;
    margin-top: 7.5rem;
}
.footer-text {
    display: block;
    width: 16.5rem;
    height: 7rem;
    margin-top: 6.25rem;
    margin-left: 9.75rem;
}

.f-logo {
    display: block;
    width:7.1875rem ;
    height: 1.5rem;
}

.f-web {
    display:inline-block;
    width:2.75rem ;
    height: 1.3125rem;
    font-family: Raleway;
    font-weight: bold;
    font-size: 1.125rem;
    color: #4D5AE5;
    text-transform: uppercase;
    letter-spacing: 3%;
}

.f-studio {
     display:inline-block;
        font-size: 1.125rem;
        font-family: Raleway;
        font-weight: bold;
        color: #F4F4FD;
        width: 4.4375rem;
        height: 1.3125rem;
        text-transform:uppercase ;
        letter-spacing: 3%;
}

.f-text {
    font-size: 1rem;
    color: #F4F4FD;
    letter-spacing: 2%;
    display: block;
    line-height: 1.5rem;
    width: 16.5rem;
    height: 4.5rem;
}